# Generic
.DS_Store
Thumbs.db
*.log
.env
.env.*
!.env.example

# Backend (Laravel)
apps/backend/vendor/
apps/backend/node_modules/
apps/backend/public/storage
apps/backend/public/hot
apps/backend/storage/*.key
apps/backend/storage/framework/cache/data/*
apps/backend/storage/framework/sessions/*
apps/backend/storage/framework/testing/*
apps/backend/storage/framework/views/*
apps/backend/storage/logs/*
apps/backend/bootstrap/cache/*
apps/backend/.phpunit.result.cache

# Frontend (Node/Quasar)
apps/frontend/node_modules/
apps/frontend/.quasar/
apps/frontend/dist/
apps/frontend/.vscode/
apps/frontend/jsconfig.json
apps/frontend/package-lock.json
apps/frontend/yarn.lock
apps/frontend/pnpm-lock.yaml
apps/frontend/node_modules
apps/frontend/.DS_Store
apps/frontend/dist
apps/frontend/.quasar
apps/frontend/src-pwa/www
apps/frontend/src-cordova/platforms
apps/frontend/src-cordova/plugins
apps/frontend/src-cordova/www
apps/frontend/src-capacitor/www
apps/frontend/src-capacitor/ios
apps/frontend/src-capacitor/android
apps/frontend/.testcaferc.json
